.venv/
.env
.python-version
poetry.lock

*.ipynb

.spotipy_cache/
__pycache__/
.pytest_cache/

.terraform/
.terraform.tfstate.lock.info
.terraform.lock.hcl
.terraformrc
terraform.rc
*.tfstate
*.tfstate.*