.vscode/

.venv/
.env
.python-version
*.egg-info/
build/

notebooks/
*.ipynb

.spotipy_cache/
__pycache__/
.pytest_cache/
.ruff_cache/

.terraform/
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*.tfstate
*.tfstate.*

*.txt
